<div style="width: 95%;   margin: 1rem;  padding: 1rem;">
    <mat-card>
      <h2>Registro (Producto)</h2>
      <form [formGroup]="formProduct" novalidate >
        
          <mat-form-field class="ingress-full-width">
            <input matInput placeholder="Código" formControlName="code" type="text">
            <div *ngIf="formProduct.get('code').errors && formProduct.get('code').dirty">
              <p *ngIf="formProduct.get('code').hasError('required')">El campo es requerido</p>
            </div>
          </mat-form-field>  

        <mat-form-field class="ingress-full-width">
          <input matInput placeholder="Descripción" formControlName="description" type="text">
          <div *ngIf="formProduct.get('description').errors && formProduct.get('description').dirty">
            <p *ngIf="formProduct.get('description').hasError('required')">El campo es requerido</p>
          </div>
        </mat-form-field>  

          <mat-form-field class="ingress-full-width">
            <input matInput placeholder="Monto" formControlName="amount" type="number">
            <div *ngIf="formProduct.get('amount').errors && formProduct.get('amount').dirty">
              <p *ngIf="formProduct.get('amount').hasError('required')">El campo es requerido</p>
            </div>
          </mat-form-field>     

        <div>
            <button mat-button color="primary" (click)="saveProduct()">Guardar</button>
            <button mat-button color="primary" (click)="clearForm()">Cancelar</button>
        </div>
      </form>
    </mat-card>
  </div>


<div class="mat-elevation-z8" style="width:95%; margin: 1rem;  padding: 1rem;">
  
    <div *ngIf="loading" style="margin-left:10px">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  
    <mat-paginator 
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  
    <table mat-table [dataSource]="dataSource">
    
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container >
  
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Monto </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editProduct(element)">
          <mat-icon matTooltip="Editar producto">edit</mat-icon>
        </button>
  
        <button mat-icon-button (click)="deleteProduct(element)">
          <mat-icon matTooltip="Eliminar producto">delete</mat-icon>
        </button>      
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  